

.weather_tabs ul{
    position: center ;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    display: flex;
    margin-left: 3%;
    
    
  }
  .weather_tabs li{
    padding: 0 0.5rem;
  
  }
  .image_tabs{
    position: center ;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    display: flex;
    margin-left: 3%;
    padding: 0 0.5rem;
    text-decoration: none;
    background-image: url("https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/2040/f/weather.jpg");
  }
  .weather_tabs a{
    color: white;
    text-decoration: none;
  }
  .weather_tabs a:hover,
  .weather_tabs a:active{
    color: orange;
  }

  .card {
    margin-top: 10%;
    box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20%;
    margin-right: 20%;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }