

.weather_tabs ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    display: flex;
    margin-left: 3%;
    padding-bottom: 3%;
    
    
  }
  .weather_tabs li{
    
    padding: 0 0.5rem;
  
  }

  .weather_tabs a{
    color: white;
    text-decoration: none;
  }
  .weather_tabs a:hover,
  .weather_tabs a:active{
    color: orange;
  }

  .card {
    margin-top: 10%;
    
    
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 10%;
    display: flex;
    
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .image{
      height: 100%;
      width: 100%;
      display: flex;
      position: center ;
      padding: 0 0.5rem;
      position: center ;
      list-style: none;
      margin: 0;
      padding: 0;
    margin-right: 3%;
      display: flex;
      margin-top: -55%;

  }